:root {
  font: 16px / 1 sans-serif;
}
html {
  height: 100%;
}
body {
  margin: 0;
  min-height: 100%;
}

h1 {
  font-family: 'Rampart One', cursive;
  color: rgb(31, 17, 34);
  background-color: rgb(96, 214, 243);
  border: 1px solid black;
  padding: 10px 15px 15px 5px;
}
h2, h3 {
  font-family: 'Urbanist', sans-serif;
  color: rgb(17, 15, 17);
  background-color: rgb(181, 237, 246);
  border: 1px solid black;
  padding: 5px 10px 10px 1px;
}
h4 {
  font-family: 'Urbanist', sans-serif;
  color: rgb(220, 226, 169);
  background-color: rgb(1, 26, 32);
  border: 1px solid black;
  padding-bottom: rem;
}

p, ul {
  color: rgb(17, 26, 3);
  font-family: 'Urbanist', sans-serif;
  /*font-family: 'Josefin Sans', sans-serif;
}
